Repository Py-Contributors/AlgorithmsAndDataStructure, pull requests merged in 2022-10, with the labels that each got.

#874 Linear Search
  C++/Algorithms/SearchingAlgorithms/linear_search.cpp
Labels: hacktoberfest, hacktoberfest-accepted

#873 #604 BestTimeToBuyAndSellStock.cpp
  C++/Algorithms/GreedyAlgorithms/BestTimeToBuyAndSellStock.cpp
Labels: hacktoberfest, hacktoberfest-accepted

#876 Update binarySearchR.java
  Java/Algorithm/SearchingAlgorithm/binarySearchR.java
Labels: hacktoberfest, hacktoberfest-accepted, Java

#886 Update _config.yml
  _config.yml
Labels: hacktoberfest, hacktoberfest-accepted

#892 Added Interpolation Search algorithm
  C++/Algorithms/SearchingAlgorithms/InterpolationSearch.cpp
Labels: enhancement, C++, algorithms

#910 Add head sort in JavaScript
  Javascript/Algorithms/heap-sort.js
Labels: algorithms, Javascript

#911 Add counting sort algorithm in JavaScript
  Javascript/Algorithms/counting-sort.js
Labels: algorithms, Javascript

#913 Add bucket sort algorithm in JavaScript
  Javascript/Algorithms/bucket-sort.js
Labels: algorithms, Javascript

#915 Add binary search in JavaScript
  Javascript/Algorithms/binary-search.js
Labels: algorithms, Javascript

#912 Add radix sort in JavaScript
  Javascript/Algorithms/radix-sort.js
Labels: algorithms, Javascript

#909 Add quick sort algorithm in JavaScript
  Javascript/Algorithms/quick-sort.js
Labels: algorithms, Javascript

#908 merge sort in JS
  Javascript/Algorithms/merge-sort.js
Labels: algorithms, Javascript

#907 add insertion sort
  Javascript/Algorithms/insertion-sort.js
Labels: algorithms, Javascript

#906 add selection sort
  Javascript/Algorithms/selection-sort.js
Labels: algorithms, Javascript

#919 Added N Queens 2 problem for Backtracking concept in Cpp.
  C++/Backtracking/NQueens_2.cpp
  C++/Data Structure/Graphs/jump_game4.cpp
Labels: enhancement, C++, algorithms, in-review
